{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="h1 text-center marginTitulo">Cliente <span class="glyphicon glyphicon-user"></span></h1>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4 col-lg-offset-4">
                <table class="table table-hover">
                    <tbody>
                        <tr>
                            <th class="text-right">No. de identificacion:</th>
                            <td>{{ cliente.nuip }}</td>
                        </tr>
                        <tr>
                            <th class="text-right">Nombre:</th>
                            <td>{{ cliente.nombre }}</td>
                        </tr>
                        <tr>
                            <th class="text-right">Fecha de nacimiento:</th>
                            <td>{% if cliente.fechaDeNacimiento %}{{ cliente.fechaDeNacimiento|date('d-m-Y') }}{% endif %}</td>
                        </tr>
                        <tr>
                            <th class="text-right">Puntos acumulados:</th>
                            <td>{{ cliente.puntosAcumulados }}</td>
                        </tr>
                        <tr>
                            <th class="text-right">Email:</th>
                            <td>{{ cliente.email }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4 col-lg-offset-4">
                <ul class="text-center list-inline">
                    <li>
                        <a href="{{ path('clientes_index') }}" class="btn btn-info">Lista <span class="glyphicon glyphicon-th-list"></span></a>
                    </li>
                    <li>
                        <a href="{{ path('clientes_edit', { 'id': cliente.id }) }}" class="btn btn-warning" role="button">Editar <span class="glyphicon glyphicon-edit"></span></a>
                    </li>
                    <li>
                        {{ form_start(delete_form) }}
                        <button type="submit" class="btn btn-danger">Eliminar <span class="glyphicon glyphicon-floppy-remove"></span></button>
                        {{ form_end(delete_form) }}
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
