{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="h1 text-center marginTitulo">Turno Laboral</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4 col-lg-offset-4">
                <table class="table table-hover">
                    <tbody>
                        <tr>
                            <th>Id</th>
                            <td>{{ turnoLaboral.id }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-4">
                <ul class="text-center list-inline">
                    <li>
                        <a href="{{ path('turnolaboral_index') }}" class="btn btn-info">Lista <span class="glyphicon glyphicon-th-list"></span></a>
                    </li>
                    <li>
                        <a href="{{ path('turnolaboral_edit', { 'id': turnoLaboral.id }) }}"  class="btn btn-warning" role="button">Editar <span class="glyphicon glyphicon-edit"></span></a>
                    </li>
                    <li>
                        {{ form_start(delete_form) }}
                        <button type="submit" class="btn btn-danger">Eliminar <span class="glyphicon glyphicon-floppy-remove"></span></button>
                            {{ form_end(delete_form) }}
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
