 {% extends 'base.html.twig' %}

{% block stylesheets %}
    {{parent()}}

    <link rel="stylesheet" href="{{ asset('bundles/ventas/css/EstiloVentas.css') }}" />
{% endblock %}

{% block body %}
    <div id="div_title" class="panel-primary"><h1>Nueva Venta</h1></div>



    {{ form_start(form)}}

    {{form_label(form.cliente)}}
    {{form_widget(form.cliente , {'attr':{'class': 'form-group', 'placeholder':'Identificacion Cliente'}})}}
    <input  type="button" id="boton_buscar_cliente" value="Buscar" onclick="buscarCliente();" class="btn-success"/>
    <label>Cliente:</label>  <input type="text" id="Nombre_cliente" placeholder="Nombre Cliente" disabled="true"/>
    <label>Puntos Acumulados:</label><input type="text" id="Puntos_cliente" placeholder="Puntos Acumulados" disabled="true"/>


    <div class="form-control"> 

        {{form_label(form.mesa)}}
        {{form_widget(form.mesa,{'attr':{'class': 'form-group', 'placeholder':'Mesa'}})}}
        {{form_label(form.personasPorMesa)}}
        {{form_widget(form.personasPorMesa,{'attr':{'class': 'form-group', 'Placeholder':'Personas Por Mesa'}})}}

        {{form_label(form.tipoVenta)}}
        {{form_widget(form.tipoVenta,{'attr':{'class':'form-group', 'placeholder':'Tipo de Venta'}})}}

    </div>

    {{ form_widget(form.detalles)}}
    <div class="form-control">

        <select id="TipoProductos" name="thelist" class="dropdown form-group">
            <option>seleccione tipo de producto</option>
            {% for Tipo in tipos %}
                <option>{{Tipo.nombre}}</option>
            {% endfor %}
        </select>

        {#           <label>Nombre Producto:</label><input type="text" placeholder="Nombre Producto" id="NombreProducto"/>#}
        <select id="ListaProductosC" class="dropdown form-group" disabled="true">
            <option>No ha seleccionado un tipo de producto</option>

        </select>
        <button type="button" onclick="buscarProducto();">Buscar Producto</button>
        <label>Precio:</label> <input type="number" placeholder="Precio" id="PrecioProducto" disabled="true"/>
        <label>Cantidad:</label><input type="number" placeholder="Cantidad" id="CantidadProducto"/>
        <button class="btn-success" type="button" onclick="agregarProductoLogica();">Agregar Producto</button>

    </div>

    <ul id="productos" class="detalles" data-prototype="{{ form_widget(form.detalles.vars.prototype.producto.nombre)|e}}" ></ul>
    <ul id="cantidades" class="detalles" data-prototype="{{ form_widget(form.detalles.vars.prototype.cantidad)|e}}" ></ul>

    <table class="table table-bordered table-hover table-condensed text-center" id="Tabla_Productos">
        <thead>
            <tr>
                <th>NOMBRE PRODUCTO</th>
                <th>VALOR UNITARIO</th>
                <th>CANTIDAD</th>
                <th>ACCIONES</th>

            </tr>
        </thead>
        <tbody id="CuerpoTabla"></tbody>
    </table>



    <div class="form-control"> 
        {{form_label(form.valorTotal)}}
        {{form_widget(form.valorTotal,{'attr':{'class': 'form-group', 'value':'0'}})}}
        {{form_label(form.puntosVenta)}}
        {{form_widget(form.puntosVenta,{'attr':{'class': 'form-group', 'value':'0'}})}}
    </div>


    <div class="form-control">
        <button  class="btn-success" type="submit"> Aceptar </button>
        <button class="btn-info"><a class="EnlaceBoton" href="{{ path('venta_index') }}">Regresar</a></button>
    </div>


    {{form_end(form)}}


{% endblock %}
{% block javascripts %}    
    {{ parent() }}

    <script type="text/javascript">
//variables que se usan durante todo el proceso de ventas
// arrays asociativos que guardan los productos y cantidades agregados, se usan para recuperar rapidamente los datos y obtenerlos
        var Productos = [];
        var Cantidades = [];
        var Precio = [];
        var total = 0;
        //numero de productos y cantidades que se han agregado
        var NumeroP = $('#productos').length;
        var NumeroC = $('#cantidades').length;
        //numero que sirve para crear el id de serie de los procutos
        var numeroProducto = 1;


        function buscarCliente() {

            var id = $('#venta_cliente').val();

            $.ajax({
                url: "{{ path('buscar_cliente_venta') }}",
                data: ({id: id}),
                method: 'POST',
                dataType: "json",
                success: function (data) {
                    if (data == null) {
                        alert('datos no encontrados');
                    } else {

                        $('#Nombre_cliente').val(data["nombre"]);
                        $('#Puntos_cliente').val(data["Puntos"]);
                        $('#venta_type2_mesa').focus();


                    }
                }
            });

        }

        function buscarProducto() {

            var nombre = $("#ListaProductosC").val();

            $.ajax({
                url: "{{path('buscar_producto')}}",
                data: ({nombre_p: nombre}),
                method: 'POST',
                dataType: "json",
                success: function (data) {
                    if (data == null) {
                        alert('datos no encontrados');
                    } else {

                        $("#PrecioProducto").val(data["precio"]);
                        $("#CantidadProducto").focus();
                    }
                }
            });
        }

        function agregarProductoLogica() {

            var nombreProducto = $('#ListaProductosC').val();
            var cantidad = $('#CantidadProducto').val();
            var precio = $('#PrecioProducto').val();
            //obtiene las listas ocultas de productos y cantidades
            var ListaProductos = $('#productos');
            var ListaCantidades = $('#cantidades');
            //se crea la identificacion que tendra cada producto y campo
            var NumeroSerie = "" + nombreProducto + numeroProducto;
            //se agrega la nueva fila a la tabla
            $('#CuerpoTabla').append(agregarProductoTabla(NumeroSerie, nombreProducto, precio, cantidad));
            //se suma el valor de los productos añadidos
            total = $('#venta_valorTotal').val();
            total = parseInt(total) + parseInt(precio) * parseInt(cantidad);
            $('#venta_valorTotal').val(total);
            //se limpian los campos
            $('#NombreProducto').val("");
            $('#PrecioProducto').val("");
            $('#CantidadProducto').val("");
            $('#NombreProducto').focus();
            //se asigna el nuevo protoype,numero de serie y valor que tendra el campo
            ListaProductos.data('prototype', '<input class="hidden" type="text" id="' + NumeroSerie + '" name="venta[detalles][__name__][producto][nombre]" value="' + nombreProducto + '"/>');
            ListaCantidades.data('prototype', '<input class="hidden" type="text" id="venta_type2_detalles___name___cantidad" name="venta[detalles][__name__][cantidad]" value="' + cantidad + '"/>');
            //se obtiene el prototipo creado y se reemplazan las claves "name" con el indice 
            var prototype = ListaProductos.data('prototype');
            var prototype2 = ListaCantidades.data('prototype');
            var newform = prototype.replace(/__name__/g, NumeroP);
            var newform2 = prototype2.replace(/__name__/g, NumeroC);

            NumeroP++;
            NumeroC++;
            //se asigna los campos creados a las listas ocultas de cantidades y productos
            var NewLi = $('<li class="hidden"></li>').append(newform);
            var NewLi2 = $('<li class="hidden"></li>').append(newform2);
            NewLi.appendTo(ListaProductos);
            NewLi2.appendTo(ListaCantidades);
            //se guardan las cantidades con los identificadores de cada producto     
            Cantidades[NumeroSerie] = cantidad;
            Precio[NumeroSerie] = precio;
            numeroProducto++;


        }

        function agregarProductoTabla(nombreS, nombre, precioUnitario, cantidad) {
            Productos =
                    "<tr id=" + 'producto' + nombreS + ">" +
                    "<td>" + nombre + "</td>" +
                    "<td>" + precioUnitario + "</td>" +
                    "<td>" + cantidad + "</td>" +
                    "<td>" + "<button id=" + nombreS + " type='button' onclick='quitarTablaProducto(this.id);'>ELIMINAR</button>" + "</td>" +
                    "</tr>";
            return Productos;
        }

        function quitarTablaProducto(clicked_id) {
            //se obtiene el id del boton presionado, que es igual al campo y a la fila que se va a remover
            var id = clicked_id;
            //removiendpo fila
            $('#producto' + id).remove();
            //removiendo campo con el id
            $('#productos :input[id=' + id + ']').remove();
            // se resta las cantidades de los productos eliminados, seleccionandolo del array que ayuda a recuperar datos
            var valorActual = $('#venta_valorTotal').val();
            $("#venta_valorTotal").val(valorActual - Precio[id] * Cantidades[id]);
            $("#CantidadProducto").focus();
        }


        $('#TipoProductos').on('change', function () {
            var tipo = $('#TipoProductos').val();
               
            $('#PrecioProducto').val("");
            $('#CantidadProducto').val("");
            $('#ListaProductosC').empty();
            buscarProductos(tipo);

        });


        function buscarProductos(tipo) {
            $.ajax({
                url: "{{path('buscar_productos')}}",
                data: ({tipoP: tipo}),
                method: 'POST',
                dataType: "json",
                success: function (data) {
                    if (data == null) {
                        alert('datos no encontrados');
                    } else {
                        var nombres = data["productos"];
                        nombres.sort();
                       var primerOpt = "<option> Seleccione producto </option>"
                       $('#ListaProductosC').append(primerOpt);
                        for (var i = 0; i < nombres.length; i++){
                            var newop = "<option>" + nombres[i] + "</option>";
                            $('#ListaProductosC').append(newop);
                            $('#ListaProductosC').attr('disabled', false);
                           }
                        
                    }
                }
            });
        }


    </script>

{% endblock %}
