{% extends 'base.html.twig' %}

{% block body %}
    <div  class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="h1 text-center marginTitulo">Venta <span class="fa fa-shopping-basket"></span></h1>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4 col-lg-offset-4">
                <table class="table table-hover">

                    <tbody>
                        <tr>
                            <th class="text-right">Fecha:</th>
                            <td>{% if ventum.fecha %}{{ ventum.fecha|date('Y-m-d H:i:s') }}{% endif %}</td>
                        </tr>
                        <tr>
                            <th class="text-right">Mesa:</th>
                            <td>{{ ventum.mesa }}</td>
                        </tr>
                        <tr>
                            <th class="text-right">No. de Personas:</th>
                            <td>{{ ventum.personasPorMesa }}</td>
                        </tr>
                        <tr>
                            <th class="text-right">Tipo Venta:</th>
                            <td>{{ ventum.tipoVenta }}</td>
                        </tr>
                        <tr>
                            <th class="text-right">Valor Total:</th>
                            <td>{{ ventum.valorTotal }}</td>
                        </tr>
                        <tr>
                            <th class="text-right">Puntos:</th>
                            <td>{{ ventum.puntosVenta }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-4">
                <ul class="text-center list-inline">
                    <li>
                        <a href="{{ path('venta_index') }}" class="btn btn-info">Lista <span class="glyphicon glyphicon-th-list"></span></a>
                    </li>
                    <li>
                        <a href="{{ path('venta_detalles', { 'id': ventum.id }) }}" class="btn btn-warning" role="button">Editar <span class="glyphicon glyphicon-edit"></span></a>
                    </li>
                    <li>
                        {{ form_start(delete_form) }}
                        <button type="submit" class="btn btn-danger">Eliminar <span class="glyphicon glyphicon-floppy-remove"></span></button>

                        {{ form_end(delete_form) }}
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
