{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/usuarios/css/bootstrap-toggle.css')}}">
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="h1 text-center marginTitulo">Registrar Empleado <span class="icon-empleado"></span></h1>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4 col-sm-offset-4">

                {{ form_start(form , {'attr':{'id':'formulario'}}) }}

                <div class="form-group">
                    {{ form_label(form.nuip)}}
                    {{ form_widget(form.nuip, {'attr':{'class' : 'form-control', 'placeholder' : 'Número de cédula'}})}}
                </div>

                <div class="form-group">
                    {{ form_label(form.nombre)}}
                    {{ form_widget(form.nombre, {'attr':{'class' : 'form-control', 'placeholder' : 'Nombre y apellidos completos'}})}}
                </div>

                <div class="form-group">
                    {{ form_label(form.telefono)}}
                    {{ form_widget(form.telefono, {'attr':{'class' : 'form-control', 'placeholder' : 'Teléfono fijo o celular'}})}}
                </div>

                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            {{ form_widget(form.esUsuario, {'attr':{'type' : 'checkbox'}}) }} <strong>Crear cuenta para loguearse en el sistema</strong>
                        </label>
                    </div>
                </div>

                <div class="form-group" style="display: none;" id="bloqueCheckAdmin">
                    <label class="checkbox2-inline">
                        <input type="checkbox2" data-toggle="toggle" id="checkAdmin" name="checkAdmin" value="0">
                        Privilegios de Administrador
                    </label>
                </div>

                {#                {{ form_widget(form) }}#}
                <div class="form-group text-center">
                    {#                    <input type="submit" value="Create" />#}
                    <button type="submit" class="btn btn-lg btn-success">Registrar <span class="glyphicon glyphicon-floppy-saved"></span></button>
                </div>
                {{ form_end(form) }}

                <div class="form-group text-center">
                    <ul>
                        <li>
                            <a href="{{ path('UsuariosBundle_empleado_index') }}" class="btn btn-info">Lista <span class="glyphicon glyphicon-th-list"></span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/usuarios/js/bootstrap-toggle.js') }}"></script>
    <script>

        $(document).on('ready', inicio());

        function inicio() {
            $('#usuarios').addClass('active');
        }
        /* Esta funcion es para mostrar el check de admin */
        $(function () {
            $('#empleado_esUsuario').click(function () {
                if ($(this).is(':checked')) {
                    $('#checkAdmin').bootstrapToggle('off');
                    $('#bloqueCheckAdmin').css('display', 'block');
                } else {
                    $('#bloqueCheckAdmin').css('display', 'none');
                }
                $('#checkAdmin').attr('value', 0);
            });
        });
        /* Esta funcion es para ponerle el valor al checkAdmin cuando este seleccionado, para que el 
         controlador lo interprete y sepa que rol ponerle */
        $(function () {
            $('#checkAdmin').change(function () {
                if ($(this).prop('checked')) {
                    $('#checkAdmin').attr('value', 1);
                } else {
                    $('#checkAdmin').attr('value', 0);
                }
            });
        });
        
        $('#formulario').validate({
            highlight: function (element) {
                $(element).closest('.form-group').removeClass('has-success').addClass('has-error');
                $(element).fadeOut(function () {
                    $(element).fadeIn();
                });


            },
            success: function (element) {
                $(element).closest('.form-group').removeClass('has-error');
            }
        });

        $('#empleado_nuip').rules("add", {
            required: true,
            minlength: 6,
            maxlength: 11,
            min: 0,
            number: true,
            remote:{
                url:"{{path('validar_empleado')}}",
                type:"post",
                data:{
                    nuip:function (){
                        return $('#empleado_nuip').val();
                    }
                }
                        
            },
            messages: {
                required: "<label class='control-label' for='inputError'><span class='glyphicon glyphicon-remove-sign'></span> Este campo es requerido</label>",
                maxlength: "<label class='control-label' for='inputError'><span class='glyphicon glyphicon-remove-sign'></span> Por favor no ingresar mas de 11 digitos</label>",
                minlength: "<label class='control-label' for='inputError'><span class='glyphicon glyphicon-remove-sign'></span> Debes ingresar al menos 6 digitos</label>",
                min: "<label class='control-label' for='inputError'><span class='gglyphicon glyphicon-remove-sign'></span> La identificacion no debe ser menor a 0</label>",
                number: "<label class='control-label' for='inputError'><span class='glyphicon glyphicon-remove-sign'></span> Ingresa solo numeros</label>",
                remote: "<label class='control-label' for='inputError'><span class='glyphicon glyphicon-remove-sign'></span> La identificacion ya esta registrada</label>"
            }
        });

        $('#empleado_nombre').rules("add", {
            required: true,
            messages: {
                required: "<label class='control-label' for='inputError'><span class='glyphicon glyphicon-remove-sign'></span>Este campo es requerido</label>"
            }

        });

        $('#empleado_telefono').rules("add", {
            required: true,
            minlength: 7,
            maxlength: 13,
            number:true,
            min: 0,
            messages: {
                required: "<label class='control-label' for='inputError'><span class='glyphicon glyphicon-remove-sign'></span>Este campo es requerido</label>",
                minlength: "<label class='control-label' for='inputError'><span classs='glyphicon glyphicon-remove-sign'></span>Debes ingresar al menos 7 digitos</label>",
                maxlength: "<label class='control-label' for='inputError'><span class='glyphicon glyphicon-remove-sign'></span>Por favor no ingresar mas de 13 digitos</label>",
                number: "<label class='control-label' for='inputError'><span class='glyphicon glyphicon-remove-sign'></span> Ingresa solo numeros</label>",
                min:"<label class='control-label' for='inputError'><span class='gglyphicon glyphicon-remove-sign'></span> El telefono no debe tener numeros negativos</label>"
            }
        });
    </script>
{% endblock %}

