{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="h1 text-center marginTitulo">Empleado <span class="icon-empleado"></span></h1>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4 col-lg-offset-4">
                <table class="table table-hover">
                    <tbody>
                        <tr>
                            <th class="text-right">No. de Identificacion:</th>
                            <td>{{ empleado.nuip }}</td>
                        </tr>
                        <tr>
                            <th class="text-right">Nombre y Apellidos:</th>
                            <td>{{ empleado.nombre }}</td>
                        </tr>
                        <tr>
                            <th class="text-right">Teléfono:</th>
                            <td>{{ empleado.telefono }}</td>
                        </tr>
                        <tr>
                            <th class="text-right">¿Con Cuenta?</th>
                            <td>{% if empleado.esUsuario %}Sí{% else %}No{% endif %}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4 col-lg-offset-4">
                <ul class="text-center list-inline">
                    <li>
                        <a href="{{ path('UsuariosBundle_empleado_index') }}" class="btn btn-info">Lista <span class="glyphicon glyphicon-th-list"></span></a>
                    </li>
                    <li>
                        <a href="{{ path('UsuariosBundle_empleado_edit', { 'id': empleado.id }) }}" class="btn btn-warning" role="button">Editar <span class="glyphicon glyphicon-edit"></span></a>
                    </li>
                    <li>
                        {{ form_start(delete_form) }}
                        <button type="submit" class="btn btn-danger">Eliminar <span class="glyphicon glyphicon-floppy-remove"></span></button>
                            {{ form_end(delete_form) }}
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>

        $(document).on('ready', inicio());

        function inicio() {
            $('#usuarios').addClass('active');
        }
    </script>
{% endblock%}