{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/app/css/otrosIconos.css')}}">
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="h1 marginTitulo text-center">Registrar Ingreso Materia Prima <span class="icon-ingresoMateria"></span></h1>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4 col-sm-offset-4">
                {{ form_start(form) }}
                {#                {{ form_widget(form) }}#}
                <div class="form-group">
                    {{ form_label(form.materiaPrima, "Materia prima:") }}
                    {{ form_widget(form.materiaPrima, {'id' : 'materiaPrima', 'attr':{'class' : 'form-control'}}) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.cantidad, "Cantidad:") }} <span id="cargando"></span>
                    {{ form_widget(form.cantidad, {'id' : 'cantidad', 'disabled' : 'true', 'attr':{'class' : 'form-control', 'placeholder' : 'Cantidad ingresada'}}) }}
                    <p class="help-block" id="msjUnidad"></p>
                </div>
                <div class="form-group">
                    {{ form_label(form.valor, "Valor:") }}
                    {{ form_widget(form.valor, {'attr':{'class' : 'form-control', 'placeholder' : 'Valor total'}}) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.proveedor, "Proveedor:") }}
                    {{ form_widget(form.proveedor, {'attr':{'class' : 'form-control'}}) }}
                </div>


                <div class="form-group text-center">
                    {#                    <input type="submit" value="Registrar" />#}
                    <button type="submit" class="btn btn-lg btn-success">Registrar <span class="glyphicon glyphicon-floppy-saved"></span></button>
                </div>
                {{ form_end(form) }}

                <div>
                    <ul class="list-inline text-center">
                        <li>
                            <a href="{{ path('ingresomateriaprima_index') }}" class="btn btn-info">Lista <span class="glyphicon glyphicon-th-list"></span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).on('ready', function () {
            $('#materiaPrima').change(function () {
                var idMateria = $(this).val();
                console.log(idMateria);
                $.ajax({
                    url: "{{ path('buscarMateria') }}",
                    data: ({id: idMateria}),
                    method: 'POST',
                    dataType: "json",
                    beforeSend: function () {
                        $('#cargando').addClass('fa fa-spinner fa-pulse');
                    },
                    success: function (data) {
                        console.log('DATA:');
                        console.log(data);
                        console.log('------');
                        if (data === -1) {
                            $('#cargando').removeClass('fa fa-spinner fa-pulse');
                            $('#cantidad').prop('disabled', true);
                            $('#msjUnidad').text('');
                            console.log('No encontro nada');
                        } else {
                            $('#cargando').removeClass('fa fa-spinner fa-pulse');
                            $('#cantidad').prop('disabled', false);
                            $('#msjUnidad').text('La cantidad debe ser en ' + data['unidadDeMedida']);
                        }
                    }
                });
            });
        });
    </script>
{% endblock %}
