{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/app/css/otrosIconos.css')}}">
{% endblock %}

{% block body %}
    <h1>Registrar Ingreso Materia Prima <span class="icon-ingresoMateria"></span></h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('ingresomateriaprima_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
