{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/app/css/otrosIconos.css')}}">
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="h1 text-center marginTitulo">Ingreso Materia Prima <span class="icon-ingresoMateria"></span></h1>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4 col-lg-offset-4">
                <table class="table table-hover">
                    <tbody>
                        <tr>
                            <th class="text-right">Id:</th>
                            <td>{{ ingresoMateriaPrima.id }}</td>
                        </tr>
                        <tr>
                            <th class="text-right">Fecha:</th>
                            <td>{% if ingresoMateriaPrima.fecha %}{{ ingresoMateriaPrima.fecha|date('d-m-Y H:i:s') }}{% endif %}</td>
                        </tr>
                        <tr>
                            <th class="text-right">Materia Prima:</th>
                            <td>{{ ingresoMateriaPrima.materiaPrima.nombre }}</td>
                        </tr>
                        <tr>
                            <th class="text-right">Cantidad:</th>
                            <td>{{ ingresoMateriaPrima.cantidad }} {{ ingresoMateriaPrima.materiaPrima.unidadDeMedida }}</td>
                        </tr>
                        <tr>
                            <th class="text-right">Valor:</th>
                            <td>{{ ingresoMateriaPrima.valor }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4 col-lg-offset-4">
                <ul class="list-inline text-center">
                    <li>
                        <a href="{{ path('ingresomateriaprima_index') }}" class="btn btn-info">Lista <span class="glyphicon glyphicon-th-list"></span></a>
                    </li>
                    <li>
                        <a href="{{ path('ingresomateriaprima_edit', { 'id': ingresoMateriaPrima.id }) }}" class="btn btn-warning" role="button">Editar <span class="glyphicon glyphicon-edit"></span></a>
                    </li>
                    <li>
                        {{ form_start(delete_form) }}
                        <button type="submit" class="btn btn-danger">Eliminar <span class="glyphicon glyphicon-floppy-remove"></span></button>
                        {{ form_end(delete_form) }}
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
