{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="h1 text-center marginTitulo">Proveedor <span class="icon-proveedor"></span></h1>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4 col-lg-offset-4">


                <table class="table table-hover">
                    <tbody>
                        <tr>
                            <th class="text-right">Nit:</th>
                            <td>{{ proveedor.nit }}</td>
                        </tr>
                        <tr>
                            <th class="text-right">Nombre:</th>
                            <td>{{ proveedor.nombre }}</td>
                        </tr>
                        <tr>
                            <th class="text-right">Teléfono:</th>
                            <td>{{ proveedor.telefono }}</td>
                        </tr>
                        <tr>
                            <th class="text-right">Email:</th>
                            <td>{{ proveedor.correo }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div  class="row">
            <div class="col-lg-4 col-lg-offset-4">
                <ul class="text-center list-inline">
                    <li>
                        <a href="{{ path('proveedores_index') }}" class="btn btn-info">Lista <span class="glyphicon glyphicon-th-list"></span> </a>
                    </li>
                    <li>
                        <a href="{{ path('proveedores_edit', { 'id': proveedor.id }) }}"  class="btn btn-warning" role="button">Editar <span class="glyphicon glyphicon-edit"></span></a>

                    </li>
                    <li>
                        {{ form_start(delete_form) }}
                     <button type="submit" class="btn btn-danger">Eliminar <span class="glyphicon glyphicon-floppy-remove"></span></button>
                        {{ form_end(delete_form) }}
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>

        $(document).on('ready', inicio());

        function inicio() {
            $('#inventario').addClass('active');
        }
    </script>
{% endblock%}