{% extends 'base.html.twig' %}

{% block body %}
    <h1>DetalleVenta list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Fecha</th>
                <th>Cantidad</th>
                <th>Valordetalle</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for detalleVentum in detalleVentas %}
            <tr>
                <td><a href="{{ path('detalleventa_show', { 'id': detalleVentum.id }) }}">{{ detalleVentum.id }}</a></td>
                <td>{% if detalleVentum.fecha %}{{ detalleVentum.fecha|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ detalleVentum.cantidad }}</td>
                <td>{{ detalleVentum.valorDetalle }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('detalleventa_show', { 'id': detalleVentum.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('detalleventa_edit', { 'id': detalleVentum.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('detalleventa_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
