{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <h1 class="h1 text-center marginTitulo">Costos</h1>
            </div>
        </div>


        <div class="row">
            <div class="col-md-3">
                <ul>
                    <li>
                        <a class="btn btn-lg btn-success"href="{{ path('costo_new') }}">Registrar Costo <span class="glyphicon glyphicon-floppy-saved"></span></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="margenTopTablas">        
            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover table-condensed text-center">
                            <thead>
                                <tr class="active info">
                                    {#                                    <th>Id</th>#}
                                    <th>TIPO COSTO</th>
                                    <th>FECHA</th>
                                    <th>VALOR</th>
                                    <th>DESCRIPCION</th>
                                    <th>ACCIONES</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for costo in costos %}
                                    <tr>
                                        <td><a href="{{ path('costo_show', { 'id': costo.id }) }}">{{ costo.tipoCosto }}</a></td>
                                        <td>{% if costo.fecha %}{{ costo.fecha|date('Y-m-d H:i:s') }}{% endif %}</td>
                                        <td>{{ costo.valor }}</td>
                                        <td>{{ costo.descripcion }}</td>
                                        <td>
                                            <ul class="list-inline text-center">
                                                <li>
                                                    <a href="{{ path('costo_edit', { 'id': costo.id }) }}" class="btn btn-warning" role="button">Editar <span class="glyphicon glyphicon-edit"></span></a>
                                                </li>
                                                <li>
                                                    <a href="{{ path('costo_show', { 'id': costo.id }) }}" class="btn btn-danger" role="button">Eliminar <span class="glyphicon glyphicon-floppy-remove"></span></a>
                                                </li>
                                            </ul>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
