{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="h1 text-center marginTitulo">TipoProducto creation</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 col-sm-offset-4">

                {{ form_start(form, {'attr':{'id':'formulario'}}) }}
                <div class="form-group">
                    {{ form_label(form.nombre,'Nombre') }}
                    {{ form_widget(form.nombre,{'attr':{'class':'form-control'}}) }}
                </div>
                <div class="form-group text-center">

                    <button type="submit" class="btn btn-lg btn-success">Registrar <span class="glyphicon glyphicon-floppy-saved"></span></button>
                </div>
                {{ form_end(form) }}

                <ul class="form-group text-center">
                    <li>
                        <a href="{{ path('tipoproducto_index') }}" class="btn btn-info">Lista <span class="glyphicon glyphicon-th-list"></span></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
{% block  javascripts %}
    {{parent()}}
    <script>
        $('#formulario').validate({
            highlight: function (element) {
                $(element).closest('.form-group').removeClass('has-success').addClass('has-error');
                $(element).fadeOut(function () {
                    $(element).fadeIn();
                });
            },
            unhighlight: function (element) {
                $(element).closest('.control-group').removeClass('error').addClass('success');
            }
        });

        $('#tipo_producto_nombre').rules("add", {
            required: true,
            messages: {
                required: "<label class='control-label' for='inputError'><span class='glyphicon glyphicon-remove-sign'></span>Este campo es requerido</label>"
            }
        });

    </script>
{% endblock %}
